Code/WS_PresupuestoSis/BL/bin/
Code/WS_PresupuestoSis/LD/bin/
Code/Presupuesto/.vs/config/applicationhost.config
Code/Presupuesto/Presupuesto/obj/Debug/Presupuesto.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/.vs/config/applicationhost.config
Code/WS_PresupuestoSis/BL/obj/Debug/BL.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/EntityModel/obj/Debug/EntityModel.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/LD/obj/Debug/LD.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/ModelMap/obj/Debug/ModelMap.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/WS_PresupuestoSis/obj/Debug/WS_PresupuestoSis.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/WS_PresupuestoSis/bin/
Code/WS_PresupuestoSis/LD/obj/
Code/WS_PresupuestoSis/WS_PresupuestoSis/obj/Debug/build.force
Code/WS_PresupuestoSis/.vs/WS_PresupuestoSis.sqlite-journal
Code/WS_PresupuestoSis/.vs/WS_PresupuestoSis.sqlite
Code/WS_PresupuestoSis/EntityModel/App.Config
Code/WS_PresupuestoSis/WS_PresupuestoSis/Web.config
