Code/WS_PresupuestoSis/BL/bin/
Code/WS_PresupuestoSis/LD/bin/
Code/Presupuesto/.vs/config/applicationhost.config
Code/Presupuesto/Presupuesto/obj/Debug/Presupuesto.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/.vs/config/applicationhost.config
Code/WS_PresupuestoSis/BL/obj/Debug/BL.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/EntityModel/obj/Debug/EntityModel.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/LD/obj/Debug/LD.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/ModelMap/obj/Debug/ModelMap.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/WS_PresupuestoSis/obj/Debug/WS_PresupuestoSis.csproj.FileListAbsolute.txt
Code/WS_PresupuestoSis/WS_PresupuestoSis/bin/
Code/WS_PresupuestoSis/LD/obj/
Code/WS_PresupuestoSis/WS_PresupuestoSis/obj/Debug/build.force
Code/WS_PresupuestoSis/.vs/WS_PresupuestoSis.sqlite-journal
Code/WS_PresupuestoSis/.vs/WS_PresupuestoSis.sqlite
Code/WS_PresupuestoSis/EntityModel/App.Config
Code/WS_PresupuestoSis/WS_PresupuestoSis/Web.config
Code/WS_PresupuestoSis/WS_PresupuestoSis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Code/WS_PresupuestoSis/ModelMap/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Code/WS_PresupuestoSis/EntityModel/obj/Debug/TempPE/ProyeccionEntities.cs.dll
Code/WS_PresupuestoSis/EntityModel/obj/Debug/TempPE/ProyeccionEntities.Designer.cs.dll
Code/WS_PresupuestoSis/EntityModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Code/Presupuesto/Presupuesto/obj/Debug/TempPE/Service References.PresupuestoSisWS.Reference.cs.dll
Code/Presupuesto/Presupuesto/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Code/Presupuesto/Presupuesto/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Code/Presupuesto/Presupuesto/bin/ApplicationInsights.config
Code/Presupuesto/Presupuesto/bin/System.Web.Helpers.xml
Code/Presupuesto/Presupuesto/bin/System.Web.Mvc.xml
Code/Presupuesto/Presupuesto/bin/System.Web.Optimization.xml
Code/Presupuesto/Presupuesto/bin/System.Web.Razor.xml
Code/Presupuesto/Presupuesto/bin/System.Web.WebPages.Deployment.xml
Code/Presupuesto/Presupuesto/bin/System.Web.WebPages.Razor.xml
Code/Presupuesto/Presupuesto/bin/System.Web.WebPages.xml
Code/Presupuesto/Presupuesto/bin/roslyn/Microsoft.CSharp.Core.targets
Code/Presupuesto/Presupuesto/bin/roslyn/Microsoft.VisualBasic.Core.targets
Code/WS_PresupuestoSis/EntityModel/bin/Debug/EntityFramework.SqlServer.xml
Code/WS_PresupuestoSis/EntityModel/bin/Debug/EntityFramework.xml
Code/WS_PresupuestoSis/EntityModel/bin/Debug/EntityModel.dll.config
Code/WS_PresupuestoSis/EntityModel/obj/Debug/edmxResourcesToEmbed/ProyeccionEntities.csdl
Code/WS_PresupuestoSis/EntityModel/obj/Debug/edmxResourcesToEmbed/ProyeccionEntities.msl
Code/WS_PresupuestoSis/EntityModel/obj/Debug/edmxResourcesToEmbed/ProyeccionEntities.ssdl
Code/Presupuesto/Presupuesto/bin/EntityFramework.SqlServer.xml
Code/Presupuesto/Presupuesto/bin/EntityFramework.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.AI.DependencyCollector.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.AI.ServerTelemetryChannel.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.AI.Web.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.AI.WindowsServer.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.ApplicationInsights.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.AspNet.Identity.Core.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.AspNet.Identity.EntityFramework.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.AspNet.Identity.Owin.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.Host.SystemWeb.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.Security.Cookies.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.Security.Facebook.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.Security.Google.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.Security.OAuth.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.Security.Twitter.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.Security.xml
Code/Presupuesto/Presupuesto/bin/Microsoft.Owin.xml
Code/Presupuesto/Presupuesto/bin/Newtonsoft.Json.xml
Code/Presupuesto/Presupuesto/bin/Presupuesto.dll.config
Code/Presupuesto/Presupuesto/bin/roslyn/VBCSCompiler.exe.config
Code/WS_PresupuestoSis/WS_PresupuestoSis/obj/Debug/WS_PresupuestoSis.pdb
Code/WS_PresupuestoSis/WS_PresupuestoSis/obj/Debug/WS_PresupuestoSis.dll
Code/WS_PresupuestoSis/WS_PresupuestoSis/obj/Debug/WS_PresupuestoSis.csprojResolveAssemblyReference.cache
Code/WS_PresupuestoSis/ModelMap/obj/Debug/ModelMap.pdb
Code/WS_PresupuestoSis/ModelMap/obj/Debug/ModelMap.dll
Code/WS_PresupuestoSis/ModelMap/obj/Debug/ModelMap.csprojResolveAssemblyReference.cache
Code/WS_PresupuestoSis/ModelMap/bin/Debug/ModelMap.pdb
Code/WS_PresupuestoSis/ModelMap/bin/Debug/ModelMap.dll
Code/WS_PresupuestoSis/EntityModel/obj/Debug/edmxResourcesToEmbed/Proyeccion.ssdl
Code/WS_PresupuestoSis/EntityModel/obj/Debug/edmxResourcesToEmbed/Proyeccion.msl
Code/WS_PresupuestoSis/EntityModel/obj/Debug/edmxResourcesToEmbed/Proyeccion.csdl
Code/WS_PresupuestoSis/EntityModel/obj/Debug/TempPE/Proyeccion.cs.dll
Code/WS_PresupuestoSis/EntityModel/obj/Debug/TempPE/Proyeccion.Designer.cs.dll
Code/WS_PresupuestoSis/EntityModel/obj/Debug/EntityModel.pdb
Code/WS_PresupuestoSis/EntityModel/obj/Debug/EntityModel.dll
Code/WS_PresupuestoSis/EntityModel/bin/Debug/EntityModel.pdb
Code/WS_PresupuestoSis/EntityModel/bin/Debug/EntityModel.dll
Code/WS_PresupuestoSis/EntityModel/bin/Debug/EntityFramework.dll
Code/WS_PresupuestoSis/EntityModel/bin/Debug/EntityFramework.SqlServer.dll
Code/WS_PresupuestoSis/BL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Code/WS_PresupuestoSis/BL/obj/Debug/BL.pdb
Code/WS_PresupuestoSis/BL/obj/Debug/BL.dll
Code/WS_PresupuestoSis/BL/obj/Debug/BL.csprojResolveAssemblyReference.cache
Code/Presupuesto/Presupuesto/Service References/PresupuestoSisWS/Presupuesto.PresupuestoSisWS.MonedaMap.datasource
Code/Presupuesto/Presupuesto/Service References/PresupuestoSisWS/Presupuesto.PresupuestoSisWS.CuentaContableMap.datasource
Code/WS_PresupuestoSis/EntityModel/obj/Debug/EntityModel.csprojResolveAssemblyReference.cache
