@{
    ViewBag.Title = "Home Page";
}



    <div class="col-md-12">
        <div style="text-align:center;">
            <span id="logo"> <img src="/img/logo.png" alt="SmartAdmin" style="width: 600px; height: 230px; text-align:center"> </span>
            </div>
        </div>

