<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title> SmartAdmin </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
    specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/demo.min.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="/image/x-icon">
    <link rel="icon" href="/img/favicon/favicon.ico" type="/image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
    Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>


<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  01. #CSS Links                |  all CSS links and file paths  |
|  02. #FAVICONS                 |  Favicon links and file paths  |
|  03. #GOOGLE FONT              |  Google font link              |
|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
|  05. #BODY                     |  body tag                      |
|  06. #HEADER                   |  header tag                    |
|  07. #PROJECTS                 |  project lists                 |
|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
|  09. #MOBILE                   |  mobile view dropdown          |
|  10. #SEARCH                   |  search field                  |
|  11. #NAVIGATION               |  left panel & navigation       |
|  12. #RIGHT PANEL              |  right panel userlist          |
|  13. #MAIN PANEL               |  main panel                    |
|  14. #MAIN CONTENT             |  content holder                |
|  15. #PAGE FOOTER              |  page footer                   |
|  16. #SHORTCUT AREA            |  dropdown shortcuts area       |
|  17. #PLUGINS                  |  all scripts and plugins       |

===================================================================

-->
<!-- #BODY -->
<!-- Possible Classes

    * 'smart-style-{SKIN#}'
    * 'smart-rtl'         - Switch theme mode to RTL
    * 'menu-on-top'       - Switch to top navigation (no DOM change required)
    * 'no-menu'			  - Hides the menu completely
    * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
    * 'fixed-header'      - Fixes the header
    * 'fixed-navigation'  - Fixes the main menu
    * 'fixed-ribbon'      - Fixes breadcrumb
    * 'fixed-page-footer' - Fixes footer
    * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
-->
<body class="">

    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"> <img src="/img/logo.png" alt="SmartAdmin" style="width: 100px; height: 30px;"> </span>
            <!-- END LOGO PLACEHOLDER -->

        </div>
    </header>
    <!-- END HEADER -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">

        <!-- User info -->
        <div class="login-info">
            <span> <!-- User image size is adjusted inside CSS, it should stay as it --> <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut"> <img src="/img/avatars/sunny.png" alt="me" class="online" /> <span> Geiner Epinoza</span> <i class="fa fa-angle-down"></i> </a> </span>
        </div>
        <!-- end user info -->

        <nav>
            <!--
            NOTE: Notice the gaps after each icon usage <i></i>..
            Please note that these links work a bit different than
            traditional href="" links. See documentation for details.
            -->

            <ul>
                <li class="top-menu-invisible">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Catalogos</span></a>
                    <ul>
                        <li>
                            <a href="/CentroCosto/Index"><i class="fa fa-cube"></i>Centros de costos</a>
                        </li>
                        <li>
                            <a href="~/CentroCosto/ProyectoCentroCosto"><i class="fa fa-cube"></i>Proyectos por Costos</a>
                        </li>
                        <li>
                            <a href="/Inflaciones/Index"> <i class="fa fa-cube"></i>Inflación</a>
                        </li>
                        <li>
                            <a href="/Moneda/Index"> <i class="fa fa-cube"></i>Moneda</a>
                        </li>
                        <li>
                            <a href="/TipoCambio/Index"> <i class="fa fa-cube"></i>Tipo de Cambio</a>
                        </li>
                    </ul>
                </li>
                <li class="top-menu-invisible">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Ingresos</span></a>
                    <ul>
                        <li>
                            <a href="/PPIngresos/Index?tipo=PR"><i class="fa fa-cube"></i>Proyección de ingresos</a>
                        </li>
                        <li>
                            <a href="/PPIngresos/Index?tipo=PS"><i class="fa fa-cube"></i>Presupuesto de ingresos</a>
                        </li>

                    </ul>
                    </li>
                <li class="top-menu-invisible">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Gastos</span></a>
                    <ul>
                        <li>
                            <a href="/PPGastos/Index?tipo=PR"><i class="fa fa-cube"></i>Proyección de Gastos</a>
                        </li>
                        <li>
                            <a href="/PPGastos/Index?tipo=PS"><i class="fa fa-cube"></i>Presupuesto de Gastos</a>
                        </li>
                    </ul>
                    </li>
                   <li class="top-menu-invisible">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Salarios</span></a>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Proyección de Salarios en colones</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Presupuesto de Salarios en colones</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Proyección de Salarios en otras monedas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Presupuesto de Salarios en otras monedas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Proyección de Salarios leg. no costaricense</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Presupuesto de Salarios leg. no costaricense</a>
                        </li>
                    </ul>
                    </li>
                <li class="top-menu-invisible">

                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Rportes</span></a>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Reporte 1</a>
                        </li>
                        <a href="#">
                            <i class="fa fa-cube"></i>Reporte 2</a>
                            <li>
                            </li>

                    </ul>
                    </li>
                <li class="top-menu-invisible">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Consultas</span></a>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Consultas 1</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-cube"></i>Consultas 2</a>

                        </li>

                    </ul>
                    </li>
                <li class="top-menu-invisible">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Cierre</span></a>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-cube"></i>Cerrar año</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-cube"></i>Habilitar año</a>

                        </li>

                    </ul>
                    </li>

</ul>
        </nav>


        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

    </aside>
    @RenderBody();

    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">SmartAdmin 1.8.2 <span class="hidden-xs"> - Web Application Framework</span> © 2014-2015</span>
            </div>
        </div>
    </div>
    <!-- END PAGE FOOTER -->
    <!--================================================== -->
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="/Scripts/plugin/pace/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="/Scripts/libs/jquery-2.1.1.min.js"><\/script>');
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="/Scripts/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="/Scripts/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="/Scripts/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="/Scripts/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="/Scripts/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="/Scripts/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="/Scripts/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="/Scripts/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="/Scripts/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="/Scripts/plugin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="/Scripts/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="/Scripts/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- FastClick: For mobile devices -->
    <script src="/Scripts/plugin/fastclick/fastclick.min.js"></script>

    <!--[if IE 8]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="/Scripts/app.min.js"></script>

    <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
    <!-- Voice command : plugin -->
    <script src="/Scripts/speech/voicecommand.min.js"></script>

    <!-- SmartChat UI : plugin -->
    <script src="/Scripts/smart-chat-ui/smart.chat.ui.min.js"></script>
    <script src="/Scripts/smart-chat-ui/smart.chat.manager.min.js"></script>

    <!-- PAGE RELATED PLUGIN(S)
    <script src="..."></script>-->

    <script src="/Scripts/plugin/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="/Scripts/plugin/jqgrid/grid.locale-en.min.js"></script>

</body>

</html>